<html>
<head>
    <title>CREATE COMPANY</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<script src="/script.js"></script>-->
</head>
<body>
<h1>ADD COMPANY</h1>
<ul>
    <li> <a href="/">Home</a> </li>
</ul>
<nav>
    <form method="post" action="/company" >
        <lable>Name:</lable>
        <input type="text" name="name" id="name" value="">
        <p></p>
        <lable for="author">Phone:</lable>
        <input type="text" name="phone" id="phone" value="">
        <lable for="price">Email:</lable>
        <input type="text" name="email" id="email" value="">
        <lable for="price">Address:</lable>
        <input type="text" name="address" id="address" value="">
        <button type="submit">Add</button>
    </form>
</nav>
</body>
</html>