<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin-top: 50px;
            background-color: #f9f9f9;
        }
        #navigator {
            transition: opacity 500ms;
            opacity: .5;
        }
        #navigator:hover {
            opacity: .7;
        }
    </style>
</head>
<body>

<header>
    <nav class="navbar navbar-fixed-top navbar-default" id="navigator">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsedList" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Interns</a>
            <a class="navbar-brand" href="/intern">Add Intern</a>
        </div>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="collapsedList">
                <ul class="navbar-nav nav">
                    <li><a href="#collapseSearchAdvance" id="invisible" data-toggle="collapse">Search Advance</a></li>
                </ul>
                <div class="navbar-form navbar-right">
                    <div class="input-group-prepend"></div>
                    <form id="testEvent">
                        <input type="text" class="form-control" aria-label="Default"
                               aria-describedby="inputGroup-s" id="inputKeyword" placeholder="search...">
                        <i style="margin-left: -3em" class="btn glyphicon glyphicon-search"></i>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/script.js"></script>
</html>